<footer class="summer-site-footer">
    <div class="copyright">
       <section><a href="mailto:{{ site.owner.email }}">{{ site.owner.name }}</a> <i class="fa fa-copyright"></i></section>
       <section>Built with <i class="fa fa-heartbeat"></i> and Grav</section>
    </div>
    <div class="footer-carousel">
        <div>foo1</div>
        <div>foo2</div>
        <div>foo3</div>
    </div>
    <div class="social-icons">
        {% if site.owner.twitter %}
        <a href="http://twitter.com/{{ site.owner.twitter }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.google_plus %}
        <a href="{{ site.owner.google_plus }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.github %}
        <a href="http://github.com/{{ site.owner.github }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
    </div>

    <div class="cf"></div>
</footer>
